*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#container {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

#container {
  background-color: lightslategrey;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  width:60%;
  height:60%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 8%;
  border-radius: 25px;
  border: 6px solid rgb(92, 2, 177);
}

.hsButtons{
  margin:25px 10px;
  border-radius: 25px;
  background-color: rgb(92, 2, 177);
  color: whitesmoke;
  box-shadow: 0 0 10px 2px;
  padding:3px;
}

.hsButtons:hover{
  font-size:16px;
  background-color:rgb(42, 1, 80);
}

h1 {
    font-weight: bolder;
    color: whitesmoke;
}

h3{
  font-weight: bolder;
    color: whitesmoke;
}

ol {
  width:30%;
  margin:auto;
  text-align: left;
}
li{
  background-color: rgb(245, 245, 245, 0.5);
  padding-left:5px;
}

li:nth-child(odd){
  background-color: rgb(197, 195, 195, 0.5);
}

p{
  padding:20px;
  color: whitesmoke;
  margin-top:25px;
}

.timer{
  padding-top:5px;
  color:whitesmoke;
}


.button {
  border: none;
  background-color: rgb(92, 2, 177);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 42px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 25px 34px;
  text-align: center;
  box-shadow: 0 0 10px 2px;
}

.button:hover{
  font-size: 48px;
  background-color:rgb(42, 1, 80);
}

.buttonDiv{
  padding:30px;
}

.answer-btn {
    border: none;
    background-color: rgb(92, 2, 177);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    line-height: 10px;
    margin: 8px;
    padding:10px;
    box-shadow: 0 0 6px 2px;
    display: block;
    text-align: center;
  }

  .answer-btn:hover {
    font-size: 18px;
    background-color:rgb(42, 1, 80);
  }

.result {
    color: whitesmoke;
    border-top: 2px solid whitesmoke;
    padding: 15px;
    margin-top: 15px;
    width:100%;
    text-align: left;
}


.endButton {
    border: none;
    background-color: rgb(92, 2, 177);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    line-height: 10px;
    margin: 8px;
    padding:12px;
    box-shadow: 0 0 10px 2px;
}


@media (max-width: 690px) {
  .btn {
    font-size: 2.5rem;
    margin: 16px 0px 0px 0px;
    padding: 20px 20px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 2rem;
  }
}
